#buy-property-popup{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    width: 25rem;
    height: 8rem;
    margin-left: 38.5%;
    margin-top: 15%;
    background: rgb(178, 207, 224);
    text-align: center;
}
#buy-property-popup p,h2{
    margin: 0.5rem;
}
#buy-property-popup form{
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
}

#buy-property-popup form button{
    background: white;
    border: none;
    margin: 0.3rem;
}