.player-pos {
    color: limegreen;
    margin-top: auto;
    text-align: center;
    font-family: "Oswald", serif;
}

.active-player {
    filter: drop-shadow(0 0 0.5rem #222);
}

.player-bought {
    margin-top: auto;
    color: red;
    text-align: center;
    font-family: "Oswald", serif;
}

.player-mortgaged {
    margin-top: auto;
    color: orange;
    text-align: center;
    font-family: "Oswald", serif;
}

header img {
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
    transition: all .2s ease-in-out;
    filter: invert(100%);
}

footer img {
    width: 3rem;
    height: 3rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
}

.info-container {
    display: flex;
    padding: 0.8rem;
}

.info-container img {
    filter: invert(100%);
}

.info-container p {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

.info-container:hover {
    cursor: pointer;
}

#cards-parent article {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: black solid 0.1rem;
    background: white;
    border-radius: 0.2rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0 0.313rem 0.938rem;
    text-align: left;
}

#cards-parent .price {
    font-weight: bolder;
    margin-top: auto;
    align-self: center;
}

#cards-parent li {
    text-align: left;
}

#cards-parent article:first-of-type, #cards-parent article:last-of-type {
    width: 10vw;
    height: 18vw;
}

article:first-of-type img, article:last-of-type img {
    height: 1rem;
}

#cards-parent article:first-of-type p, #cards-parent article:last-of-type p {
    font-size: 80%;
}

#cards-parent article:first-of-type .price, #cards-parent article:last-of-type .price {
    font-size: 100%;
}

#cards-parent article:nth-of-type(2), #cards-parent article:nth-of-type(4) {
    width: 12vw;
    height: 22vw;
}

article:nth-of-type(2) img, article:nth-of-type(4) img {
    height: 1.5rem;
}


#cards-parent article:nth-of-type(2) p, #cards-parent article:nth-of-type(4) p {
    font-size: 99%;
}

#cards-parent article:nth-of-type(2) .price, #cards-parent article:nth-of-type(4) .price {
    font-size: 120%;
}

#cards-parent article:nth-of-type(3) {
    width: 15vw;
    height: 100%;
}

article:nth-of-type(3) img {
    height: 2rem;
}

#cards-parent article:nth-of-type(3) p {
    font-size: 110%;
}

#cards-parent article:nth-of-type(3) .price {
    font-size: 130%;
}

.hidden {
    display: none !important;
}


header {
    background: rgb(178, 207, 224);
    padding: 1rem 0 1rem 0;
    border-bottom: black solid 0.1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url("data:image/svg+xml,%3Csvg width='180' height='180' viewBox='0 0 180 180' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.28 88H68.413l19.298 19.298L81.28 88zm2.107 0h13.226L90 107.838 83.387 88zm15.334 0h12.866l-19.298 19.298L98.72 88zm-32.927-2.207L73.586 78h32.827l.5.5 7.294 7.293L115.414 87l-24.707 24.707-.707.707L64.586 87l1.207-1.207zm2.62.207L74 80.414 79.586 86H68.414zm16 0L90 80.414 95.586 86H84.414zm16 0L106 80.414 111.586 86h-11.172zm-8-6h11.173L98 85.586 92.414 80zM82 85.586L87.586 80H76.414L82 85.586zM17.414 0L.707 16.707 0 17.414V0h17.414zM4.28 0L0 12.838V0h4.28zm10.306 0L2.288 12.298 6.388 0h8.198zM180 17.414L162.586 0H180v17.414zM165.414 0l12.298 12.298L173.612 0h-8.198zM180 12.838L175.72 0H180v12.838zM0 163h16.413l.5.5 7.294 7.293L25.414 172l-8 8H0v-17zm0 10h6.613l-2.334 7H0v-7zm14.586 7l7-7H8.72l-2.333 7h8.2zM0 165.414L5.586 171H0v-5.586zM10.414 171L16 165.414 21.586 171H10.414zm-8-6h11.172L8 170.586 2.414 165zM180 163h-16.413l-7.794 7.793-1.207 1.207 8 8H180v-17zm-14.586 17l-7-7h12.865l2.333 7h-8.2zM180 173h-6.613l2.334 7H180v-7zm-21.586-2l5.586-5.586 5.586 5.586h-11.172zM180 165.414L174.414 171H180v-5.586zm-8 5.172l5.586-5.586h-11.172l5.586 5.586zM152.933 25.653l1.414 1.414-33.94 33.942-1.416-1.416 33.943-33.94zm1.414 127.28l-1.414 1.414-33.942-33.94 1.416-1.416 33.94 33.943zm-127.28 1.414l-1.414-1.414 33.94-33.942 1.416 1.416-33.943 33.94zm-1.414-127.28l1.414-1.414 33.942 33.94-1.416 1.416-33.94-33.943zM0 85c2.21 0 4 1.79 4 4s-1.79 4-4 4v-8zm180 0c-2.21 0-4 1.79-4 4s1.79 4 4 4v-8zM94 0c0 2.21-1.79 4-4 4s-4-1.79-4-4h8zm0 180c0-2.21-1.79-4-4-4s-4 1.79-4 4h8z' fill='%23000000' fill-opacity='0.06' fill-rule='evenodd'/%3E%3C/svg%3E");
    color: #000000;
    font-size: 1rem;
    font-family: Oswald, serif;
    display: flex;
    flex-direction: column;
}

main {
    margin-top: 3rem;
}

footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*TODO: ask if right (position:fixed)*/
    position: fixed;
    width: 100%;
    bottom: 0;
    background: rgb(178, 207, 224);
    border-top: black solid 0.1rem;
}

h1 {
    margin-left: 6rem;
    font-size: 3rem;
    color: white;
    font-family: Oswald, serif;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
}

button {
    width: 10rem;
    height: 2.5rem;
}

header button {
    transition: all .2s ease-in-out;
    border: none;
    background: white;
    margin-left: 2rem;
    margin-right: auto;
}

header img:hover, button:hover {
    filter: drop-shadow(0 0 0.5rem #222);
    transform: scale(1.1);
    cursor: pointer;
}

#back-to-current-position button {
    transition: all .2s ease-in-out;
    background: white;
    border: black solid 0.1rem;
}

#arrows img {
    transition: all .2s ease-in-out;
    width: 3rem;
    height: 3rem;
}


section div {
    display: flex;
    justify-content: space-around;
    margin-top: 1.5rem;
}

.card-name {
    font-size: 120%;
    margin-bottom: 1rem;
    border: black solid 0.1rem;
    padding: 0.5rem;
    align-self: center;
    width: 100%;
    color: white;
    font-family: "Oswald", serif;
    text-align: center;
}

.special-card .card-name {
    margin-top: 1rem;
    margin-bottom: auto;
}

.railroad-card .card-name, .utility-card .card-name {
    color: black;
}

.normal-card, .special-card, .utility-card, .railroad-card {
    text-align: center;
    width: 10rem;
    padding: 1rem;
    background-color: #979797;
}

.special-card h3 {
    margin-top: auto;
    margin-bottom: auto;
}

.middle {
    width: 15rem;
}

#arrows {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header div {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: 2rem;
}

.info-container > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.square {
    width: 0.7rem;
    height: 0.7rem;
    margin: 0.1rem;
    border: solid 0.065rem;
    justify-content: center;
    align-items: center;
}

#main-screen header button {
    transition: all .2s ease-in-out;
    border: none;
    background: white;
    margin-left: 2rem;
    margin-right: auto;
}

#main-screen header button:disabled {
    background-color: grey;
    transition-property: none;
    opacity: 50%;
}

#main-screen header button:disabled:hover {
    filter: none;
    transform: scale(1);
    cursor: auto;

}

#main-screen header div {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: 2rem;
}

#main-screen header img {
    transition: all .2s ease-in-out;
    filter: invert(100%);
}

#arrows img:hover {
    cursor: pointer;
    transform: scale(1.5);
}


#trade {
    border-radius: 1rem;
}

#back-to-current-position {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
}

#cards-parent {
    font-family: Calibri, serif;
    margin-top: 2rem;
    height: 50vh;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

#cards-parent article li {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5rem;
}

#cards-parent article li:last-of-type {
    padding-bottom: 0.5rem;
    border-bottom: solid black 0.1rem;
}

#cards-parent article li:first-of-type, #cards-parent article li:last-of-type {
    margin-top: 0.5rem;
}

footer .player-balance {
    color: white;
}

.rent-one-house, .rent-two-house, .rent-three-house {
    margin-bottom: 0.2rem;
}

.rent {
    padding-bottom: 0.5rem;
    border-bottom: solid black 0.1rem;
}

.price-house {
    padding-bottom: 0.5rem;
    border-bottom: solid black 0.1rem;
}

.mortgage {
    margin-top: 0.5rem;
}

#cards-parent .card-icon {
    width: 80%;
    height: 50%;
    align-self: center;
    margin: auto auto auto auto;
}

/* GIVE UP POP-UP */
#give-up-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 30vw;
    height: 7vw;
    background: white;
    padding: 2rem;
    border: black solid 0.1rem;
    margin-left: 33%;
    margin-right: 25%;
}

#give-up-popup h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

#give-up-popup input {
    margin-top: 2rem;
    width: 10rem;
    height: 2rem;
    border: black solid 0.07rem;
    background: white;
}

#give-up-popup input:hover {
    cursor: pointer;
    background: rgba(232, 232, 232, 0.5)
}

#give-up-popup #give-up-deny {
    border: red solid 0.1rem;
}

#give-up-popup form {
    width: 25rem;
    display: flex;
    justify-content: space-around;
}
#pay-rent,#collect-rent{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 22vw;
    height: 3vw;
    background: white;
    border: black solid 0.1rem;
    margin-top: 60vh;
    margin-bottom: 1rem;
    margin-left: 37%;
    margin-right: auto;
    font-size: 1.2rem;
    padding: 1rem;
}

/* ======================================================================================================== */
/* ===================================        Dialog css (Robin)       ==================================== */
/* ======================================================================================================== */
dialog {
    background-color: #98c5da;
}

#cards-parent #jail {
    background-color: rgb(240, 124, 28);
}

.PURPLE {
    background: rgba(161, 27, 161, 0.5);
}

.BLACK {
    background: rgba(16, 15, 15, 0.6);
}

.LIGHTBLUE {
    background: #abcbdc;
}

.VIOLET {
    background: rgba(238, 130, 238, 0.9);
}

.ORANGE {
    background: rgba(255, 165, 0, 0.5);
}

.RED {
    background: rgba(255, 0, 0, 0.5);
}

.YELLOW {
    background: rgba(255, 255, 0, 0.35);
    color: black;
}

.DARKGREEN {
    background: rgba(0, 100, 0, 0.5);
}

.DARKBLUE {
    background: rgba(0, 0, 139, 0.6);
}
